<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>





      <main>
        <div class="mainblock">
          <div class="container">
            <div class="mainblock__title">
              <h1>Логистические услуги полного цикла</h1>
            </div><!-- /.mainblock__title -->
            <div class="mainblock__text">Импорт, сертификация, маркировка, таможенное оформление,
              ответственное хранение грузов и многое другое.</div><!-- /.mainblock__text -->
            <div class="mainblock__button">
              <a href="#callback" class="btn btn_main btn_lg scrollTo">Получить консультацию</a><!-- /.btn btn_main -->
            </div><!-- /.mainblock__button -->

          </div><!-- /.container -->
        </div><!-- /.mainblock -->

        <div class="mainbanner onlyDesktop">
          <img src="img/mainbanner.jpg" alt="">
        </div><!-- /.mainbanner -->
        <div class="mainbanner onlyMobile">
          <img src="img/mb.jpg" alt="">
        </div><!-- /.mainbanner -->


        <div class="aboutblock" id='about'>
          <div class="container">
            <div class="aboutblock__title">
              <h2 class="titlecustom fadeInUpSmall wow" data-wow-delay=".1s">Наши преимущества</h2>
            </div><!-- /.aboutblock__title -->
            <div class="aboutblock__text">"Фешн Маркет" предлагает полный комплекс услуг по доставке одежды из Европы и
              Азии. Многолетний опыт и обширные связи в таможенной и транспортной сфере позволяют нам эффективно решать
              самые сложные и нестандартные задачи.</div><!-- /.aboutblock__text -->
            <div class="aboutblock__stats">
              <div class="stats">
                <div class="stats__items">
                  <div class="stats__item">
                    <div class="stats__content">
                      <div class="stats__number"><span data-value="2815">2815</span></div>
                      <div class="stats__text">Клиентов</div>
                    </div>
                  </div>
                  <div class="stats__item">
                    <div class="stats__content">
                      <div class="stats__number"><span data-value="143200">143200</span></div>
                      <div class="stats__text">Заявок</div>
                    </div>
                  </div>
                  <div class="stats__item">
                    <div class="stats__content">
                      <div class="stats__number">
                        <span data-value="21320">21320</span><small class="stats_small"> т</small>
                      </div>
                      <div class="stats__text">Общий вес</div>
                    </div>
                  </div>
                  <div class="stats__item">
                    <div class="stats__content">
                      <span class="stats__number"><span data-value="143918">143918</span><small class="stats_small">
                          м<sup>3</sup></small>
                      </span>
                    </div>
                    <div class="stats__text">Общий обьем</div>
                  </div>

                </div>
              </div>
            </div><!-- /.aboutblock__stats -->
          </div><!-- /.container -->
        </div><!-- /.aboutblock -->

        <div class="geomap">
          <div class="container">
            <div class="titlecustom fadeInUpSmall wow" data-wow-delay=".1s">
              <span class="orange">"Фешн Маркет"</span> — это логистика без границ.
            </div><!-- /.customtitle -->
            <div class="geomap__wrapper">
              <div class="geomap__map "><img src="img/geomap.png" alt=""></div><!-- /.geomap__map -->
              <div class="geomap__info">
                <div class="geoinfo">
                  <div class="geoinfo__icon">
                    <img src="img/Warehouse.svg" alt="">
                  </div><!-- /.geoinfo__icon -->
                  <div class="geoinfo__text">Наша компания располагает собственными складами в Германии, Италии,
                    Испании, Польше, Турции и в Китае.</div><!-- /.geoinfo__text -->
                </div><!-- /.geoinfo -->
              </div><!-- /.geomap__info -->
            </div><!-- /.geomap__wrapper -->

          </div><!-- /.container -->
        </div><!-- /.geomap -->

        <div class="services" id='services'>
          <div class="container">
            <div class="titlecustom fadeInUpSmall wow" data-wow-delay=".1s">
              <h2>Услуги </h2>
            </div><!-- /.services__titlecustom -->
            <div class="services__items">
              <div class="services__item">
                <div class="services__wrapper">
                  <div class="services__image">
                    <img src="img/services1.jpg" alt="">
                  </div><!-- /.services__image -->
                  <div class="services__main">
                    <div class="services__number">01</div><!-- /.services__number -->
                    <div class="services__title">Импортируем товары из Европы и Азии в Россию</div><!-- /.services__title -->
                  </div><!-- /.services__main -->
                </div><!-- /.services__wrapper -->
              </div><!-- /.services__item -->
              <div class="services__item">
                <div class="services__wrapper">
                  <div class="services__image">
                    <img src="img/services2.jpg" alt="">
                  </div><!-- /.services__image -->
                  <div class="services__main">
                    <div class="services__number">02</div><!-- /.services__number -->
                    <div class="services__title">Оформим груз  <br>
                      на таможне</div><!-- /.services__title -->
                  </div><!-- /.services__main -->
                </div><!-- /.services__wrapper -->
              </div><!-- /.services__item -->
              <div class="services__item">
                <div class="services__wrapper">
                  <div class="services__image">
                    <img src="img/services3.jpg" alt="">
                  </div><!-- /.services__image -->
                  <div class="services__main">
                    <div class="services__number">03</div><!-- /.services__number -->
                    <div class="services__title">Бесплатно доставим образцы для выставок и сертификации продукции</div><!-- /.services__title -->
                  </div><!-- /.services__main -->
                </div><!-- /.services__wrapper -->
              </div><!-- /.services__item -->
              <div class="services__item">
                <div class="services__wrapper">
                  <div class="services__image">
                    <img src="img/services4.jpg" alt="">
                  </div><!-- /.services__image -->
                  <div class="services__main">
                    <div class="services__number">04</div><!-- /.services__number -->
                    <div class="services__title">Оформим декларации о соответствии и сертификаты</div><!-- /.services__title -->
                  </div><!-- /.services__main -->
                </div><!-- /.services__wrapper -->
              </div><!-- /.services__item -->
              <div class="services__item">
                <div class="services__wrapper">
                  <div class="services__image">
                    <img src="img/services5.jpg" alt="">
                  </div><!-- /.services__image -->
                  <div class="services__main">
                    <div class="services__number">05</div><!-- /.services__number -->
                    <div class="services__title">Полный комплекс скдадских услуг для поставщиков</div><!-- /.services__title -->
                  </div><!-- /.services__main -->
                </div><!-- /.services__wrapper -->
              </div><!-- /.services__item -->
              <div class="services__item">
                <div class="services__wrapper">
                  <div class="services__image">
                    <img src="img/services6.jpg" alt="">
                  </div><!-- /.services__image -->
                  <div class="services__main">
                    <div class="services__number">06</div><!-- /.services__number -->
                    <div class="services__title">Правовая и юридическая поддержка</div><!-- /.services__title -->
                  </div><!-- /.services__main -->
                </div><!-- /.services__wrapper -->
              </div><!-- /.services__item -->
            </div><!-- /.services__items -->
          </div><!-- /.container -->
        </div><!-- /.services -->

        <div class="formblock" id='callback'>
          <div class="container">
            <div class="formblock__wrapper">
              <div class="formblock__image">
                <div class="formblock__mb">
                  <div class='formblock__mblock'>
                    <div class="formblock__title onlyMobile">Оформить заявку</div><!-- /.formblock__title -->
                    <div class="formblock__text onlyMobile">Если у вас есть вопросы или предложения, мы будем рады с вами их обсудить. </div><!-- /.formblock__text -->
                  </div>
                 
                  <img src="img/fromblock.png" alt="" class='onlyDesktop'>
                  <img src="img/fb.png" alt="" class='onlyMobile'>

                </div><!-- /.formblock__mb -->
              </div><!-- /.formblock__image -->
              <div class="formblock__main">
                <div class="formblock__title onlyDesktop">Оформить заявку</div><!-- /.formblock__title -->
                <div class="formblock__text onlyDesktop">Если у вас есть вопросы или предложения, мы будем рады с вами их обсудить. </div><!-- /.formblock__text -->
                <div class="formblock__form">
                  <form action="">
                    <div class="formblock__row">
                      <div class="formblock__input"><input type="text" placeholder='Ваше имя'></div><!-- /.formblock__input -->
                      <div class="formblock__input"><input type="text" placeholder='Телефон'></div><!-- /.formblock__input -->
                    
                      <div class="formblock__input"><input type="text" placeholder='Email'></div><!-- /.formblock__input -->
                      <div class="formblock__input"><input type="text" placeholder='Комментарий'></div><!-- /.formblock__input -->
                    </div><!-- /.formblock__row -->
                    <div class="formblock__footer">
                      <div class="formblock__confirm">Нажимая кнопку “Оставить заявку” вы подтверждаете свое согласие с <a href="">Политикой Конфиденциальности</a> </div><!-- /.formblock__confirm -->
                      <div class="formblock__button"><button type='submit' class='btn btn_main btn_lg'>Оставить заявку</button></div><!-- /.formblock__button -->
                    </div><!-- /.formblock__footer -->
                  </form>
                </div><!-- /.formblock__form -->
              </div><!-- /.formblock__main -->
            </div><!-- /.formblock__wrapper -->
          </div><!-- /.container -->
        </div><!-- /.formblock -->

        <div class="contactsblock" id='contact'>
          <div class="container">
            <div class="contactsblock__wrapper">
              <div class="contactsblock__main">
                <div class="contactsblock__title">
                  <div class="titlecustom fadeInUpSmall wow" data-wow-delay=".1s">
                    <h2>Контакты</h2>
                  </div><!-- /.titlecustom -->
                </div><!-- /.contactsblock__title -->
                <div class="contactsblock__main">
                  <div class="contactsblock__items">
                    <div class="contactsblock__item">
                      <div class="contactsblock__block contactsblock__block_row">
                        <div class='contactsblock__col'>
                          <div class="contactsblock__icon">
                            <img src="img/Phone.svg" alt="">
                          </div><!-- /.contactsblock__icon -->
                          <div class="contactsblock__content">
                            <a href="tel:84956665533">8 495 666 55 33</a>
                          </div><!-- /.contactsblock__content -->
                        </div>
                        <div class='contactsblock__col'>
                          <div class="contactsblock__icon">
                            <img src="img/Whatsapp.svg" alt="">
                          </div><!-- /.contactsblock__icon -->
                          <div class="contactsblock__content">
                            <a href="https://api.whatsapp.com/send?phone=74956665533">8 929 947-57-64</a>
                          </div><!-- /.contactsblock__content -->
                        </div>
                      </div><!-- /.contactsblock__block -->
                    </div><!-- /.contactsblock__item -->
                    <div class="contactsblock__item">
                      <div class="contactsblock__block contactsblock__block_row">
                        <div class='contactsblock__col'>
                          <div class="contactsblock__icon">
                            <img src="img/Location.svg" alt="">
                          </div><!-- /.contactsblock__icon -->
                          <div class="contactsblock__content">
                            Москва г, вн.тер.г. муниципальный округ Пресненский, наб. Пресненская, д. 12
                          </div><!-- /.contactsblock__content -->
                        </div>
                       
                      </div><!-- /.contactsblock__block -->
                    </div><!-- /.contactsblock__item -->
                    <div class="contactsblock__item">
                      <div class="contactsblock__block contactsblock__block_row">
                        <div class='contactsblock__col'>
                          <div class="contactsblock__icon">
                            <img src="img/Location.svg" alt="">
                          </div><!-- /.contactsblock__icon -->
                          <div class="contactsblock__content">
                           <a href="mailto:info@fashionmarket.pro" class='bordered'>info@fashionmarket.pro</a>
                          </div><!-- /.contactsblock__content -->
                        </div>
                       
                      </div><!-- /.contactsblock__block -->
                    </div><!-- /.contactsblock__item -->
                    <div class="contactsblock__item">
                      <div class="contactsblock__block contactsblock__block_row">
                        <div class='contactsblock__col'>
                          <div class="contactsblock__icon">
                            <img src="img/Clock.svg" alt="">
                          </div><!-- /.contactsblock__icon -->
                          <div class="contactsblock__content">
                            <b>Пн - Пт: с 09:00 до 18:00</b> <br>
                            <b>Сб - Вс:</b> <span>выходные</span> 
                          </div><!-- /.contactsblock__content -->
                        </div>
                       
                      </div><!-- /.contactsblock__block -->
                    </div><!-- /.contactsblock__item -->
                  </div><!-- /.contactsblock__items -->
                </div><!-- /.contactsblock__main -->
              </div><!-- /.contactsblock__main -->
              <div class="contactsblock__map">
                <div class="contactmap">
                  <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A5864d911c2c44e82bab2fdb5a3ca21f22d3631cc27f6c2a88d146e66015b2430&amp;source=constructor" width="100%" height="472" frameborder="0"></iframe>
                </div><!-- /.contactmap -->
              </div><!-- /.contactsblock__map -->
            </div><!-- /.contactsblock__wrapper -->
          </div><!-- /.container -->
        </div><!-- /.contactsblock -->

       





      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>